* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body {
  background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;
  height: 100vh;
  display: grid;
  place-items: center;
  
}

  main {
  background: #FFFFFF;
  box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 4.8rem 6.4rem 6.4rem; 
  width: min(42.8rem, 90%);
  margin: 0 auto;
  margin-top: -12rem;
  /* display: flex;
  flex-direction: column;
  gap: 4.8rem; */
  text-align: center;
}

/* screen1 */

main h1{
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.6rem;
  color: #34355B;
}

p{
  opacity: 0.8;
}


main p, button, input {
  font-family: 'DM Sans', sans-serif;
  color: #34355B;

}
button{
  background-color:  #7879F1;
  color: white;
  font-weight: bold;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: background .3s;

}

button:hover {
  background-color:  #6363cf;

}
input {
  background-color: #DCE2E9;
  width: 6rem;
  border-radius: 4px 0px 0px 4px;

}
form {
  margin-top:4.8rem;
  display: flex;
  justify-content: center;
}

input, button{
  border:none;
  padding: 1.6rem;
}

.hide {
  display: none;
}

/* screen2 */

h2 {
  font-size: 2.4rem;
  font-family:'DM Sans', sans-serif; 
  font-weight: normal;
  margin-bottom: 3.3rem;
  color: #34355B;
}

.screen2 button{
  border-radius: .4rem;
}